html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    width: 100%;
    z-index: 9999;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.hero {
    height: 45vh;
    background-color: #26c3ff;
    color: white;
    text-align: left;
    padding: 0px 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero h1 {
    padding-bottom: 10px;
}

.hero p {
    padding-bottom: 10px;
}

.header {
    padding: 0px 10vw;
    display: flex;
    justify-content: space-between;
}

.navBar {
    display: flex;
    align-items: center;
}

.navBar p {
    padding-left: 20px;
    color: #4d4d4d
}

.header img {
    width: 240px;
    padding: 10px 0px;
}

.navBar p:hover {
    color: #26c3ff
}

a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
}

a:active {
    color: #26c3ff;
    font-weight: 600;
}

a:hover {
    color: #26c3ff
}

footer .navBar p {
    padding: 0px 10px;
}

.copyright {
    font-size: small;
    padding: 20px
}
.features {
    display: flex;
    justify-content: center;
}

.features div {
    padding: 40px
}

.profesionales {
    padding: 50px
}

.footerLogo {
    width: 240px;
    margin: 20px
}