/*Quitamos el margin y pading predeterminado*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Efecto Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Tipógrafia */
body {
  font-family: 'Raleway', sans-serif;
}

/* navbar */
.menu {
  background-color: #fff;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #08f;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .5);
}

.logo {
  color: #08f;
  font-size: 30px;
  padding: 0 80px;
  font-weight: bold;
}

.content-menu-items {
  display: flex;
  justify-content: space-between;
}

.menu-items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu-items li {
  border-radius: 3px;
  margin: 0 5px;
}

.menu-items li:hover, li.active{
  background-color: rgba(0, 136, 255, .3);
  transition: .4s;
}

.menu-items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  display: block;
  text-transform: uppercase;
  color: #08f;
}

.btn-menu {
  margin-right: 30px;
  font-size: 25px;
  color: #08f;
  cursor: pointer;
  display: none;
}

ul.show-btn {
  top: 45px;
}

/* header */
.hero {
  background: linear-gradient(
      to top,
      rgba(0, 197, 251, 0.699) 0%,
      rgba(0, 90, 234, 0.705) 100%
    ),
    url('../img/AppointmentBackground.png');
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.textos-hero {
  height: 500px;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textos-hero h1 {
  font-size: 60px;
}

.textos-hero p {
  font-size: 25px;
  margin-bottom: 20px;
}

/* boton ingresar */
.textos-hero a {
  color: #ffff;
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(to right, #588cd6 0%, #4876b8 100%);
  font-weight: bolder;
  padding: 12px 15px;
  border-radius: 8px;
  transition: color 0.3sec ease;
}

.textos-hero a:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  color: #08f;
  background: #fff;
}

/* fijamos el svg de la ola */
.svg-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* estilos generales */

.contenedor,
.wave-contenedor {
  width: 90%;
  max-width: 1500px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
}

.contenedor {
  padding: 80px 0;
}

.contenedor-informacion{
  margin: 40px;
    width: 90%;
  max-width: 1500px;
  overflow: hidden;
  padding: 80px 0;
}

.titulo {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;

}

.titulo.left {
  text-align: left;
}

/* section */

.website {
  display: flex;
  justify-content: space-between;
}

/* ilustracion dentro de website */
.website img {
  width: 48%;
}

.website .contenedor-textos-main {
  width: 40%;
}

.parrafo {
  text-align: justify;
  margin-bottom: 20px;
}


.info {
  background: #08f;
  color: #ffff;
}

/* cards */

.content-cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  text-align: center;
  height: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
}

/* animacion a las cards */
.card:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

/* imagenes dentro de card */
.card img {
  width: 70px;
  margin: 30px 0 20px 0;
}

.card p {
  font-weight: 300;
<<<<<<< Updated upstream
  font-size: 25px;
  margin-bottom: 10px;
=======
  font-size: 20px;
  margin-bottom: 10px;
  margin: 25px;
>>>>>>> Stashed changes
}

/* galeria */

.galeria {
  background: default;
}


/* info 2 */

.last-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.last-section img {
  width: 48%;
}

.last-section .contenedor-textos-main {
  width: 40%;
}

/* footer */

footer {
  background: #08f;
  color: #ffff;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  background: transparent;
  border: 0;
  color: #ffff;
  outline: none;
  border: 1px solid #fff;
  padding: 20px 10px;
}

.input::placeholder {
    color: #fff;
    font-family: 'raleway', sans-serif;
}

input[type="text"], 
input[type="email"] {
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea {
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: #08f;
    background: #fff;
}
/*  ---------------------------------------------------------------------------------------------------------------------------------  */
/* GALERY NOTICE & GALERY SPEC*/

.wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;

}

.card-info{
  width: 260px;
  height: 400px;
  padding: 35px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
    border-radius: 10px;
}
.card-info:hover{
  transform: translateY(20px);
}

.card-info:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgba(27, 165, 229, 0.20),rgba(27, 165, 229, 0.70));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card-info:hover:before{
  opacity: 1;
}

.card-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.card-info .info {
  position: relative;
  z-index: 3;
  color: default;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  background: transparent;
}

.card-info:hover .info{
  opacity: 1;
  transform: translateY(0px);
}

.card-info .info h1{
  margin: 0;
}
.card-info .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card-info .info .readmore-btn{
  text-decoration: none;
  padding: 10px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card-info .info .readmore-btn:hover{
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}


/* COPIRIGHY */
.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/*  ---------------------------------------------------------------------------------------------------------------------------------  */


/* Responsive 800px*/

@media screen and (max-width:800px){
    .logo {
      font-size: 25px;
      padding-left: 35px;
    }

    .menu-items li a{
      font-size:10px;
    }

    .textos-hero h1 {
        text-align: center;
        font-size: 50px;
    }

    /* ESTILOS GENERALES */
    .titulo {
        font-size: 35px;
    }

    .titulo.left {
        text-align: center;
    }

    .info p {
        text-align: center;
    }

    /* SECTION */

    .website {
        flex-direction: column-reverse; /* se pondran no arriba del otro */
        justify-content: center;
        align-items: center;
    }

    .website img {
        /* tam imagen */
        width: 100%;
    }

    .website .contenedor-textos-main {
        /* tam contenedor del texto */
        width: 100%;
    }

    /* CARDS */

    .card {
        width: 90%;
        margin-bottom: 20px;
    }

    /* GALERIA */

    .galeria-cont>img {
        width: 40%;
    }

    /* LAST SECTION */

    .last-section img {
        width: 98%;
    }

    .last-section .contenedor-textos-main {
        width: 98%;
        margin-bottom: 20px;
    }
}

/* Responsive 200px */

@media screen and (max-width:400px) {
    
    .titulo,
    .textos-hero h1 {
        font-size: 30px;
    }

    .textos-hero p {
        font-size: 20px;
        text-align: center;
    }

    .website .contenedor-textos-main {
        margin-bottom: 30px;
    } 

    .card {
        height: 380px;
    }

    .galeria-cont>img {
        width: 97%;
    }
}
