<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment</title>

    <!--Fuente-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/home-style.css" />
  </head>
  <body>
    <header class="hero">
      <div class="textos-hero">
        <h1>Bienvenido a Appointment</h1>
        <p>Gestion de turnos online</p>
        <a href='/login'>Iniciar sesión</a>
        <br />
        <!--
        <a href="#contacto">Contáctenos</a>
        -->
      </div>
      <!--Ola-->
      <div class="svg-hero" style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M-5.92,21.22 C317.43,188.98 349.20,-49.98 500.00,49.98 L500.00,150.00 L-5.92,156.42 Z"
            style="stroke: none; fill: #ffff"
          ></path>
        </svg>
      </div>
    </header>

    <section class="wave-contenedor website">
      <img src="../static/img/doctor01.svg" alt="" />
      <div class="contenedor-textos-main">
        <h2 class="titulo left"> Nuestra Misión </h2>
        <p class="parrafo">
          Colaborar para mejorar la salud y la calidad de vida de los ciudadanos, ofertando servicios sanitarios excelentes, con el paciente como centro de nuestra atención, y profesionales altamente cualificados, en un hospital privado con vocación docente e investigadora.
          <br><br>
          Asegurar la máxima colaboración e integración con la administración pública, con atención primaria y los servicios socio-sanitarios, las compañías aseguradoras y el Grupo Quironsalud, promoviendo un beneficio mutuo y sostenible para toda la sociedad.
        </p>
        <!-- <a href="" class="cta">Learn more</a> -->
      </div>
    </section>

    <section class="cards contenedor">
      <h2 class="titulo">Nuestros Servicios</h2>
      <div class="content-cards">
        <article class="card">
          <img src="../static/img/comodo.png" alt="" />
          <h3> Comodidad </h3>
          <p> Generar la confianza en nuestros paciente.</p>
          <!-- <a href="" class="cta">Learn more</a> -->
        </article>

        <article class="card">
          <img src="../static/img/rapido.png" alt="" />
          <h3>Rapido</h3>
          <p> Sin demoras en atender a nuestros pacientes.</p>
          <!-- <a href="" class="cta">Learn more</a> -->
        </article>

        <article class="card">
          <img src="../static/img/simple.png" alt="" />
          <h3>Atencion al Ciente</h3>
          <p> Las 24hrs al servicio.</p>
          <!-- <a href="" class="cta">Learn more</a> -->
        </article>
      </div>
    </section>

    <section class="info">
      <div class="contenedor-informacion">
        <h2 class="titulo left">Más rapido, más simple</h2>
        <p> Siempre priorizando la valoracion y el respeto a la dignidad humana, aportando calidad, conocimiento cientifico, utilizacion eficiente de los recuersos y poniendo en valor la importancia de ser un hospital..</p>
      </div>
    </section>

<section class="galeria">
        <h1 class="titulo"> Nuestros Especialistas </h1>
          <div class="contenedor-notice">
        <div class="wrapper">
          <div class="card-info">
            <img src="../static/img/doctor01.jpg" alt="" />
            <div class="info">
              <h1> Laura Martinez </h1>
              <p> Ginecología </p>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/doctor02.jpg" alt="" />
            <div class="info">
              <h1> Amelia Hevia </h1>
              <p> Cardiología </p>

            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/doctor03.jpg" alt="" />
            <div class="info">
              <h1> Jorge Aso </h1>
              <p> Cirugía plástica, estética y reparadora </p>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/doctor05.jpg" alt="" />
            <div class="info">
              <h1> José Luis Martínez </h1>
              <p> Dermatología </p>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/doctor06.jpg" alt="" />
            <div class="info">
              <h1> Alejandro Molina </h1>
              <p> Fisioterapia</p>
            </div>
          </div>
        </div>
        </div>
      </section>

    <section class="info-last">
      <div class="contenedor last-section">
        <div class="contenedor-textos-main">
          <h2 class="titulo left">Vision </h2>
          <p class="parrafo">
            Ser lider en la provincia de Mendoza y el oeste argentino en el cuidado y restablecimiento de la salud en mediana y alta complejidad. Priorizando siempre la mejora en la calidad de nuestro pacientes.<br><br>
            Alcanzar la excenlencia en calidad de atencion, uso racional de los recursos y formacion profesional cientifica.
          </p>
          <!-- <a href="" class="cta">Learn more</a> -->
        </div>
        <img src="../static/img/ilustracion.svg" alt="" />
      </div>

      <!--Ola-->
      <div class="svg-wave" style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M-5.92,21.22 C317.43,188.98 349.20,-49.98 500.00,49.98 L500.00,150.00 L-5.92,156.42 Z"
            style="stroke: none; fill: #08f"
          ></path>
        </svg>
      </div>
    </section>
    <footer id="contacto">
      <div class="contenedor">
        <h2 class="titulo">Contáctenos</h2>
        <form action="" class="form">
          <input class="input" type="text" name="" id="" placeholder="Nombre" />
          <input class="input" type="email" name="" id="" placeholder="Email" />
          <input class="input" type="text" name="" id="" placeholder="Provincia" />
          <input class="input" type="text" name="" id="" placeholder="Pais" />

          <textarea
            class="input"
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Mensaje"
          ></textarea>
          <input class="input" type="submit" value="Enviar" />
        </form>
      </div>
    </footer>
<div class="copyright">
  <p> Copyright 2022 © Jean Miceli & Felipe Herrera. All Right Reserved </p>
</div>
  </body>
</html>
