<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment</title>

    <!--Fuente-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Fontawesome Para los Iconos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/home-style.css" />

    <script src="/js/app.js" defer></script>
  </head>
  <body>
    <!-- menu de navegacion -->
    <nav class="menu">
      <label class="logo">Appointment</label>
      <div class="content-menu-items">
        <ul class="menu-items">
          <li><a href="#">Turnos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
        <span class="btn-menu">
          <i class="fa fa-bars"></i>
        </span>
      </div>
    </nav>

    <header class="hero">
      <div class="textos-hero">
        <h1 th:text="${title}"></h1>
        <p th:text="${description}"></p>
        <br />
      </div>
      <!--Ola-->
      <div class="svg-hero" style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M-5.92,21.22 C317.43,188.98 349.20,-49.98 500.00,49.98 L500.00,150.00 L-5.92,156.42 Z"
            style="stroke: none; fill: #ffff"
          ></path>
        </svg>
      </div>
    </header>

      <section class="galeria">
        <h1 class="titulo"> Novedades </h1>
          <div class="contenedor-notice">
        <div class="wrapper">
          <div class="card-info">
            <img src="../static/img/notice01.jpg" alt="" />
            <div class="info">
              <h1> Aumento de Covid </h1>
              <p> El Numero en Ascenso no se detiene.</p>
              <a href="https://www.elnueve.com/el-numero-en-ascenso-no-se-detiene-casi-140-mil-casos-de-covid19-en-un-dia" class="readmore-btn" target="_BLANK"> Leer mas</a>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/notice02.jpg" alt="" />
            <div class="info">
              <h1> Verano y calor</h1>
              <p> La importancia de la hidratación</p>
              <a href="https://www.mendoza.gov.ar/prensa/verano-y-calor-la-importancia-de-la-hidratacion/" 
              target="_BLANK" class="readmore-btn"> Leer mas</a>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/notice03.jpg" alt="" />
            <div class="info">
              <h1> ¿Tengo o no tengo COVID-19? </h1>
              <p> Nuevos criterios para considerar casos positivos </p>
              <a href="https://www.elnueve.com/tengo-o-no-tengo-covid19-nuevos-criterios-para-considerar-casos-positivos
              " target="_BLANK" class="readmore-btn"> Leer mas</a>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/notice04.jpg" alt="" />
            <div class="info">
              <h1> ¿Cuanto costara el autotest del covid? </h1>
              <p> Confederación Farmacéutica Argentina, Isabel Reinoso, dijo . . . </p>
              <a href="https://www.elnueve.com/cuando-podre-comprar-y-cuanto-costaran-los-autotest-de-covid" 
              target="_BLANK" class="readmore-btn"> Leer mas</a>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/notice05.jpg" alt="" />
            <div class="info">
              <h1> Confirmaron el primer caso de FLURONA en el Pais: </h1>
              <p> ¿QUÉ ES? </p>
              <a href="https://www.elnueve.com/confirmaron-el-primer-caso-de-flurona-en-el-pais-que-es" 
              target="_BLANK" class="readmore-btn"> Leer mas</a>
            </div>
          </div>
        </div>
        </div>
      </section>
      <section class="info">
        <div class="contenedor-informacion">
          <h2 class="titulo left">Más rapido, más simple, más comodo.</h2>
          <p>Con Appointment estas al dia!</p>
        </div>
      </section>

      <section class="galeria">
        <h1 class="titulo"> Nuestros Especialistas </h1>
          <div class="contenedor-notice">
        <div class="wrapper">
          <div class="card-info">
            <img src="../static/img/doctor01.jpg" alt="" />
            <div class="info">
              <h1> Laura Martinez </h1>
              <p> Ginecología </p>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/doctor02.jpg" alt="" />
            <div class="info">
              <h1> Amelia Hevia </h1>
              <p> Cardiología </p>

            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/doctor03.jpg" alt="" />
            <div class="info">
              <h1> Jorge Aso </h1>
              <p> Cirugía plástica, estética y reparadora </p>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/doctor05.jpg" alt="" />
            <div class="info">
              <h1> José Luis Martínez </h1>
              <p> Dermatología </p>
            </div>
          </div>

          <div class="card-info">
            <img src="../static/img/doctor06.jpg" alt="" />
            <div class="info">
              <h1> Alejandro Molina </h1>
              <p> Fisioterapia</p>
            </div>
          </div>
        </div>
        </div>
      </section>
    

      <section class="cards contenedor">
        <h2 class="titulo">Solicitar Turno</h2>
      </section>
      <!--Ola-->
      <div class="svg-wave" style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M-5.92,21.22 C317.43,188.98 349.20,-49.98 500.00,49.98 L500.00,150.00 L-5.92,156.42 Z"
            style="stroke: none; fill: #08f"
          ></path>
        </svg>
      </div>


    </section>
    <footer id="contacto">
      <div class="contenedor">
        <h2 class="titulo">Contáctenos</h2>
        <form action="" class="form">
          <input class="input" type="text" name="" placeholder="Nombre" />
          <input class="input" type="email" name="" placeholder="Email" />
          <textarea
            class="input"
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Mensaje"
          ></textarea>
          <input class="input" type="submit" value="Enviar" />
        </form>
      </div>
    </footer>
  </body>
</html>
